@use '../../../styles/' as *;
.services {
    position: relative;
    overflow: hidden;

    .header-bkg {
        z-index: 1;
        background-color: black;
        position: absolute;
        height: 100vh;
        width: 120vw;
        transform: rotate(28deg);
        left: 28vw;
        top: -36vh;
        overflow: hidden;

        @media (max-width: $medium) and (orientation: portrait){
            top: -60vh;
            left: 30vw;
            width: 150vw;
            transform: rotate(35deg);
        }

        img {
            width: 100%;
            height: 110%;
            object-fit: cover;
            filter: saturate(0) brightness(.2);
            transform: rotate(-25deg);
        }
    }

    .header {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 5vh;
        width: 40vw;
        text-align: center;
        padding: 0 5%;
        @media (max-width: $medium) and (orientation: portrait) {
            width: 60vw;
        }
    }
}

.slide-box {
    height: 100vh;

    .service {
        position: relative;

        img {
            min-height: 100vh;
            object-fit: cover;
            padding: 0 2px;
        }

        .text {
            position: absolute;
            width: 100%;
            min-height: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
            text-align: center;
        }
    }
}

.sliderServices {
    width: 100%;
    height: 100%;

    .slick-arrow {
        z-index: 11;

        &::before {
            color: var(--foreground);
            font-size: 40px; //tamaño de los botones
        }

        &.slick-prev {
            left: -45px;

        }
    }

    .slick-dots {
        z-index: 11;
        bottom: 7px;

        .slick-active {
            button::before {
                color: var(--foreground);
                opacity: 1;
            }
        }

        li {
            button::before {
                color: var(--foreground);
                opacity: .5;
            }

        }
    }
}